<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>gestion des niveaux</title>

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/moduls/NivApp.js"></script>
<script src="js/services/NiveauService.js"></script>
<script src="js/services/FormationDServices.js"></script>
<script src="js/controllers/NiveauController.js"></script>
</head>
<body ng-app="NivApp" class="ng-cloak" ng-controller="niveauController as ctrl">
<nav class="w3-sidenav w3-white w3-card-8" style="width:25%">
  <a  href="http://localhost:8080/gestionetudiant.html">gestion des etudiants</a>
  <a  href="http://localhost:8080/gestionEnsP.html">gestion enseignant permanent</a>
  <a  href="http://localhost:8080/gestionEnsV.html">gestion enseignant vacataire</a>
  <a  href="http://localhost:8080/gestionFormationC.html">gestion formation Continue</a>
  <a  href="http://localhost:8080/gestionFormationD.html">gestion formation Diplomante</a>
  <a  href="http://localhost:8080/gestionNiveau.html" >gestion des niveaux</a>
</nav>
	<div class="w3-container" style="margin-left:25%">
		<div class="generic-container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="lead">ajouter un niveau </span>
				</div>
				<br>
				<div class="formcontainer">
					<form name="myForm" class="form-horizontal">
						<input type="hidden" ng-model="ctrl.niveau.idNiveau" />
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for=""></label>
								<div class="col-md-7">
									<input type="text" ng-model="ctrl.niveau.nomNiveau"
										id="cin" class="form-control input-sm" placeholder="nom" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for=""></label>
								<div class="col-md-7">
									<input type="text" ng-model="ctrl.niveau.labelNiveau" id="cne"
										class="form-control input-sm" placeholder="label" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for=""></label>
								<div class="col-md-7">
								<select class="form-control input-sm" ng-model="selectedformation" ng-options="f.nomFormation for f in ctrl.formations">
 	                              </select>
								
									
								</div>
							</div>
						</div>				
						<div class="row">
							<div class="form-group col-md-12">
								<div class="col-md-2 control-lable"></div>
								<div class="col-md-7">
									<input type="button" ng-click="ctrl.update()" value="update"
										class="btn btn-primary btn-sm"> <input type="button"
										ng-click="ctrl.add()" value="add"
										class="btn btn-primary btn-sm">
									<button type="button" ng-click="ctrl.reset()"
										class="btn btn-warning btn-sm">Annuler</button>
								</div>
							</div>
							</div>
					</form>
				</div>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<span class="lead">List des niveaux </span>
				</div>
				<div class="tablecontainer">
					<table class="table table-hover">
						<thead>
							<tr>

								<th>Niveau</th>
								<th>label</th>
								<th>Formation</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="e in ctrl.niveaux">
								<td>{{e.nomNiveau}}</td>
								<td>{{e.labelNiveau}}</td>
								<td>{{}}</td>
								
								<td>
									<button type="button" ng-click="ctrl.edit(e.idNiveau)"
										class="btn btn-success custom-width">Edit</button>
									<button type="button" ng-click="ctrl.remove(e.idNiveau)"
										class="btn btn-danger custom-width">Remove</button>
									<button type="button" ng-click="ctrl.show(e.idNiveau)"
										class="btn btn-primary custom-width">consulter infos</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
			<div class="panel panel-default" ng-show="showMe">
				<div class="panel-heading">
					<span class="lead">details niveau </span>
				</div>

				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">nom du niveau</label>
						<div class="col-sm-10">
							<p class="form-control-static">
								<span ng-bind="ctrl.niveaushow.nomNiveau"></span>
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">label</label>
						<div class="col-sm-10">
							<p class="form-control-static">
								<span ng-bind="ctrl.niveaushow.labelNiveau"></span>
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">formation</label>
						<div class="col-sm-10">
							<p class="form-control-static">
								<span ng-bind=""></span>
							</p>
						</div>
					</div>
					

				</form>
			</div>
			</div>

			
</body>
</html>