<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>gestion enseignant vacataire</title>

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
 
</head >
<body ng-app="appEnsv" class="ng-cloak"  >
<nav class="w3-sidenav w3-white w3-card-8" style="width:25%">
  <a  href="http://localhost:8080/gestionEtudiant.html">gestion etudiant</a>
  <a  href="http://localhost:8080/gestionEnsP.html">gestion enseignant permanent</a>
  <a  href="http://localhost:8080/gestionEnsV.html">gestion enseignant vacataire</a>
  <a  href="http://localhost:8080/gestionFormationC.html">gestion formation Continue</a>
  <a  href="http://localhost:8080/gestionFormationD.html">gestion formation Diplomante</a>
</nav>
<div class="w3-container" style="margin-left:25%">
	<div class="generic-container" ng-controller="ensvController as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">ajouter un enseignant </span>
			</div>
			<br>
			<div class="formcontainer">
				<form  name="myForm"
					class="form-horizontal">
					<input type="hidden" ng-model="ctrl.ensv.id" />
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for=""></label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.ensv.cinUtilisateur" id="cin"
									class="form-control input-sm" placeholder="cne" />
							</div>
						</div>
					</div>
	
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for=""></label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.ensv.nomUtilisateur" id="nom"
									class="form-control input-sm" placeholder="Nom" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for=""></label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.ensv.prenomUtilisateur" id="prenom"
									class="form-control input-sm" placeholder="prenom" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for=""></label>
							<div class="col-md-7">
								<input type="email" ng-model="ctrl.ensv.emailUtilisateur" id="email"
									class="form-control input-sm" placeholder=" Email"
									required />
								
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for=""></label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.ensv.adresseUtilisateur" id="adresse"
									class="form-control input-sm" placeholder="adresse" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
						<div class="col-md-2 control-lable"></div>
						<div class="col-md-7">
						    <input type="button" ng-click="ctrl.update()" value="update" class="btn btn-primary btn-sm" >
							<input type="button" ng-click="ctrl.add()" value="add" class="btn btn-primary btn-sm" >
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm" >Annuler</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">Liste des enseignqnts vacatires </span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							
							<th>CIN</th>
							
							<th>Nom</th>
							<th>Prenom</th>
							<th>Address</th>
							<th>Email</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="e in ctrl.ensvs">
							<td>{{e.cinUtilisateur}}</td>
							<td>{{e.nomUtilisateur}}</td>
							<td>{{e.prenomUtilisateur}}</td>
							<td>{{e.adresseUtilisateur}}</td>
							<td>{{e.emailUtilisateur}}</td>
							<td>
								<button type="button" ng-click="ctrl.edit(e.idUtilisateur)"
									class="btn btn-success custom-width">Edit</button>
								<button type="button" ng-click="ctrl.remove(e.idUtilisateur)"
									class="btn btn-danger custom-width">Remove</button>
									<button type="button" ng-click="ctrl.show(e.idUtilisateur)"
									class="btn btn-primary custom-width">consulter infos</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<div>
<div class="panel panel-default" ng-show="showMe">
			<div class="panel-heading">
				<span class="lead">details  enseignant </span>
			</div>
			
			<form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">CIN</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><span ng-bind="ctrl.ensvshow.cinUtilisateur"></span></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nom</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><span ng-bind="ctrl.ensvshow.nomUtilisateur"></span></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Prenom</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><span ng-bind="ctrl.ensvshow.prenomUtilisateur"></span></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">email</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><span ng-bind="ctrl.ensvshow.emailUtilisateur"></span></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">adresse</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><span ng-bind="ctrl.ensvshow.adresseUtilisateur"></span></p>
                    </div>
                </div>
                
            </form>
</div>

	<script type="text/javascript" src="js/EnsVController.js"></script>
</body>
</html>