<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>enseignants permanents</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerEnsp :: header"></th:block> /*/-->

		<div th:if="${not #lists.isEmpty(ensPermanents)}">
			<h2>la liste des enseignant permanents</h2>
			<table class="table table-striped">
				<tr>
					
					<th>cin</th>
					<th>nom</th>
					<th>Prenom</th>
					<th>Adresse</th>
					<th>Email</th>

					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="ensPermanent : ${ensPermanents}">

					<td th:text="${ensPermanent.cinUtilisateur}">cin</td>
					<td th:text="${ensPermanent.nomUtilisateur}">nom</td>
					<td th:text="${ensPermanent.prenomUtilisateur}">prenom</td>
					<td th:text="${ensPermanent.cinUtilisateur}">adresseUtilisateur</td>
					<td th:text="${ensPermanent.emailUtilisateur}">email</td>


					<td><a th:href="${'/ensPermanent/' + ensPermanent.idUtilisateur}">View</a></td>
					<td><a th:href="${'/ensPermanent/edit/' + ensPermanent.idUtilisateur}">Edit</a></td>
					<td><a th:href="${'/ensPermanent/delete/' + ensPermanent.idUtilisateur}">Delete</a></td>

				</tr>
			</table>

		</div>

	</div>

</body>
</html>