<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>formations</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerFormation :: header"></th:block> /*/-->

		<div th:if="${not #lists.isEmpty(formations)}">
			<h2>students List</h2>
			<table class="table table-striped">
				<tr>
					
					<th>Formation</th>
					<th>Date de debut </th>
					<th>Date de fin</th>
					<th>Description</th>
					<th>Prix de formation</th>

					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="formation : ${formations}">

					<td th:text="${formation.nomFormation}">formation</td>
					<td th:text="${formation.dateDebut}">date de debut</td>
					<td th:text="${formation.dateFin}">date de fin</td>
					<td th:text="${formation.descFormation}">description</td>
					<td th:text="${formation.prix}">prix</td>


					<td><a th:href="${'/formation/' + formation.idFormation}">View</a></td>
					<td><a th:href="${'/formation/edit/' + formation.idFormation}">Edit</a></td>
					<td><a th:href="${'/formation/delete/' + formation.idFormation}">Delete</a></td>

				</tr>
			</table>

		</div>

	</div>

</body>
</html>