<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>gestion etudiant</title>
<style>
      .cin.ng-valid {
          background-color: lightgreen;
      }
      .cin.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .cin.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }
 
      .email.ng-valid {
          background-color: lightgreen;
      }
      .email.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .email.ng-dirty.ng-invalid-email {
          background-color: yellow;
      }
    </style>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
 
</head >
<body ng-app="MyApp" class="ng-cloak"  >
<div class="w3-container">
	<div class="generic-container" ng-controller="EtudiantController as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">ajouter un etudiant </span>
			</div>
			<div class="formcontainer">
				<form ng-submit="ctrl.submit()" name="myForm"
					class="form-horizontal">
					<input type="hidden" ng-model="ctrl.etudiant.id" />
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="cin"></label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.etudiant.cin" id="cin"
									class="cin form-control input-sm" placeholder=" cin"
									required ng-minlength="3" />
								<div class="has-error" ng-show="myForm.$dirty">
									<span ng-show="myForm.cin.$error.required">This is a
										required field</span> <span ng-show="myForm.cin.$error.minlength">Minimum
										length required is 3</span> 
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="cne"></label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.etudiant.cne" id="cne"
									class="form-control input-sm" placeholder="cne" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="nom"></label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.etudiant.nom" id="nom"
									class="form-control input-sm" placeholder="Nom" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="address"></label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.etudiant.prenom" id="prenom"
									class="form-control input-sm" placeholder="prenom" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="email"></label>
							<div class="col-md-7">
								<input type="email" ng-model="ctrl.etudiant.email" id="email"
									class="email form-control input-sm" placeholder=" Email"
									required />
								<div class="has-error" ng-show="myForm.$dirty">
									<span ng-show="myForm.email.$error.required">This is a
										required field</span>
										 <span ng-show="myForm.email.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="adresse"></label>
							<div class="col-md-7">
								<input type="email" ng-model="ctrl.etudiant.adresse"
									id="adresse" class=" form-control input-sm"
									placeholder="adresse" required />
								<div class="has-error" ng-show="myForm.$dirty">
									<span ng-show="myForm.adresse.$error.required">This is a
										required field</span> <span ng-show="myForm.adresse.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit"
								value="{{!ctrl.etudiant.id ? 'Add' : 'Update'}}"
								class="btn btn-primary btn-sm" >
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
								Form</button>
								<button type="button" ng-click="ctrl.createStudent()"
								class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">enregistrer</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">List des etudiants </span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							
							<th>CIN</th>
							<th>CNE</th>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Address</th>
							<th>Email</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="e in ctrl.etudiants">
							<td>{{e.cinUtilisateur}}</td>
							<td>{{e.cne}}</td>
							<td>{{e.nonUtilisateur}}</td>
							<td>{{e.prenomUtilisateur}}</td>
							<td>{{e.adresseUtilisateur}}</td>
							<td>{{e.emailUtilisateur}}</td>
							<td>
								<button type="button" ng-click="ctrl.edit(e.idUtilisateur)"
									class="btn btn-success custom-width">Edit</button>
								<button type="button" ng-click="ctrl.remove(e.idUtilisateur)"
									class="btn btn-danger custom-width">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<div>


	<script type="text/javascript" src="js/EtudiantController.js"></script>
</body>
</html>