
	<div style="margin-left: 25%" >
		<div class="w3-container" ng-app="app" >
			<div class="generic-container"
				ng-controller="formationDiplomanteController as ctrl">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="lead">Ajouter une Formation Diplomante </span>
					</div>
					<br>
					<div class="formcontainer">
						<form name="myForm" class="form-horizontal">
							<input type="hidden" ng-model="ctrl.formation.id" />


							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for=""></label>
									<div class="col-md-7">
										<input type="text" ng-model="ctrl.formation.nomFormation"
											id="nom" class="form-control input-sm"
											placeholder="Nom de formation" />
									</div>
								</div>
							</div>


							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for=""></label>
									<div class="col-md-7">
										<input type="text" datetime="dd-MM-yyyy"
											ng-model="ctrl.formation.dateDebut" id="dateD"
											class="form-control input-sm"
											placeholder="date de debut de formation / dd-MM-yyyy" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for=""></label>
									<div class="col-md-7">
										<input type="text" datetime="dd-MM-yyyy"
											ng-model="ctrl.formation.dateFin" id="dateF"
											class="form-control input-sm"
											placeholder="date fin de formation / dd-MM-yyyy" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for=""></label>
									<div class="col-md-7">
										<input type="text" ng-model="ctrl.formation.descFormation"
											id="desc" class="form-control input-sm"
											placeholder=" decsription" required />

									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for=""></label>
									<div class="col-md-7">
										<select class="form-control input-sm" ng-model="ctrl.idSelectedType" >
										<option value="">-- Type de formation --</option>
								<option ng-repeat="t in ctrl.typeFormations" value="{{t.idTypeFormation}}">{{t.labelTypeFormation}} </option>
 	                              </select>

									</div>
								</div>
							</div>
                         <br>
							<div class="row">
								<div class="form-group col-md-12">
									<div class="col-md-2 control-lable"></div>
									<div class="col-md-7">
										<input type="button" ng-click="ctrl.update()" value="update"
											class="btn btn-primary btn-sm"> <input type="button"
											ng-click="ctrl.add()" value="add"
											class="btn btn-primary btn-sm">
										<button type="button" ng-click="ctrl.reset()"
											class="btn btn-warning btn-sm">Annuler</button>
									</div>
								</div>
								</div>
						</form>
					</div>
				</div>
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<span class="lead">List des formations diplomante </span>
					</div>
					<div class="tablecontainer">
						<table class="table table-hover">
							<thead>
								<tr>

									<th>Nom de formation</th>
									<th>date de debut</th>
									<th>date de fin</th>
									<th>description</th>
									<th>type de formation</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="e in ctrl.formations">
									<td>{{e.nomFormation}}</td>
									<td>{{e.dateDebut}}</td>
									<td>{{e.dateFin}}</td>
									<td>{{e.descFormation}}</td>
                                    <td>
                                    <ul>
                                       <li ng-repeat="t in e.typeFormations"> {{t.labelTypeFormation}} </li>
                                     </ul>

                                    </td>

									<td>
										<button type="button" ng-click="ctrl.edit(e.idFormation)"
											class="btn btn-success custom-width">Edit</button>
										<button type="button" ng-click="ctrl.remove(e.idFormation)"
											class="btn btn-danger custom-width">Remove</button>
										<button type="button" ng-click="ctrl.show(e.idFormation)"
											class="btn btn-primary custom-width">consulter infos</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div>
				<div class="panel panel-default" ng-show="showMe">
					<div class="panel-heading">
						<span class="lead">details de la formation <span>{{ctrl.formationshow.nomFormation}}</span></span>
					</div>

					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">Nom de formatiom</label>
							<div class="col-sm-10">
								<p class="form-control-static">
									<span ng-bind="ctrl.formationshow.nomFormation"></span>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">de de debut</label>
							<div class="col-sm-10">
								<p class="form-control-static">
									<span ng-bind="ctrl.formationshow.dateDebut"></span>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">date de fin</label>
							<div class="col-sm-10">
								<p class="form-control-static">
									<span ng-bind="ctrl.formationshow.dateFin"></span>
								</p>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">description</label>
							<div class="col-sm-10">
								<p class="form-control-static">
									<span ng-bind="ctrl.formationshow.descFormation"></span>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">type de formation</label>
							<div class="col-sm-10">
								<p class="form-control-static">
									<ul>
                                       <li ng-repeat="t in ctrl.formationshow.typeFormations"> {{t.labelTypeFormation}} </li>
                                     </ul>
								</p>
							</div>
						</div>
					</form>
				</div>
			</div>
			
